- var links = {'HOME': 'index.html', 'ABOUT': 'about.html', 'LEARNING':'learning.html', 'PROJECTS': 'projects.html'}
ul#headlinks
	li.head.name
		|ZAFARALI AHMED
	each href, title in links
		li.head
			a(href=href)= title