- var links = {'HOME': 'index.html', 'LINKS': 'links.html', 'LEARNING':'learning.html', 'PROJECTS': 'projects.html', 'CV': './assets/cv.pdf'}
ul#headlinks
	li.head.name
		|ZAFARALI AHMED
	each href, title in links
		li.head
			a(href=href)= title