extends ./layout.jade
block content
	#hero
		#left
			- var herolinks = {'quantitative scientist': 'about.html', 'hacker': 'projects.html', 'casual cook': 'cook.html', 'sleep enthusiast': 'sleep.html' }
			each href, title in herolinks
				h1
					a(href=href)= title
		#mid
			img(src="./assets/portrait.jpeg")#propic
