extends ./layout.jade
block content
	#hero
		#left
			- var herolinks = {'quantitative scientist': '#', 'hacker': 'projects.html'}
			each href, title in herolinks
				h1
					a(href=href)= title
		#center
			img(src="./assets/portrait.jpeg")#propic
		p.subtext
			b McGill University. Quantitative Biology, Mathematics and Computer Science.
			b Data Driven Decision Making.
