extends ./layout.jade

block content
	#hero
		#left
			h1 quantitative biology
			h1 computer science
			h1 mathematics
			h1 hacker
			h1 cook
			h1 urban geography
			h1 data scientist
			h1 sleep enthusiast
		#mid
			img(src="./assets/portrait.jpeg")#propic
		#right
			h1 more stuff