extends ./layout.jade
block content
	#hero
		#left
			- var herolinks = {'quantitative scientist': '#', 'hacker': 'projects.html'}
			each href, title in herolinks
				h1
					a(href=href)= title
		#center
			img(src="./assets/portrait.jpeg")#propic
		p.subtext
			| Second year student at
			b McGill University.
			| Major in Quantitative Biology and Minor in Mathematics and Computer Science.
			| I consider myself a
			b multipotentialite. 
		p.subtext
			| Ever since I was a kid, I've always wanted to know more about the world. At university I have been
			| exposed to the tools that will actually help me to
			i predict
			| the world.
			| My current mission in life is to learn everything about
			b
				a(href='https://github.com/zafarali/explore-intelligence') data driven decision making.	
		p.subtext
			| I am a casual cook, and known for the best
			a(href='https://www.google.ca/search?espv=2&rlz=1C5CHFA_enLK523LK523&q=sri+lankan+parippu&oq=sri+lankan+parippu&gs_l=serp.3..0i7i30l2j0j0i7i30j0l4j0i30j0i5i30.2632.3786.0.3967.11.11.0.0.0.1.130.966.9j2.11.0.msedr...0...1c.1.62.serp..1.10.896.WoOXrLaTM7E') Sri Lankan Parippu 
			| at McGill.
		p.subtext
			| I like to run and occasionally take
			a(href='https://www.flickr.com/photos/zafarali') photographs
			| .
		p.subtext
			| I am
			a(href='https://www.google.ca/maps/place/Sri+Lanka') Sri Lankan
			| and currently live in
			a(href='https://www.google.ca/maps/place/Montreal,+QC/') Montr&eacute;al.