extends ./layout.jade
block content
	h2 Learning
	p 
		| I'm always learning, I often am dabling in many different
		| subjects at any one time. Here are some of the courses and books
		| I am currently in the process or doing or reading or already done. 
	#fullwidth
		h3 Personal
		h4 Courses
		p
			| Here are some things I've done in my free time.
		ul
			li
				:markdown
					[CS188.1x Artificial Intelligence offered by BerkleyX](https://www.edx.org/course/artificial-intelligence-uc-berkeleyx-cs188-1x-0#.VPOxFFPF_l8)
			li
				:markdown
					[15.071x The Analytics Edge offered by MITX](https://www.edx.org/course/analytics-edge-mitx-15-071x-0#.VPOx81PF_l8)
			li
				:markdown
					[7.QBWx Quantitative Biology Workshop offered by MITX](https://www.edx.org/course/quantitative-biology-workshop-mitx-7-qbwx#.VPUf2VPF_l8)
		h4 Books
		ul
			li
				:markdown
					[Doing Data Science by Rachel Schutt and Cathy ONeil](http://columbiadatascience.com/doing-data-science/)
			li
				:markdown
					[Think Stats by Allen B. Downey](http://greenteapress.com/thinkstats/)
		h3 University
		p 
			| I have done a range of courses encompassing Physics, Biology, Computer Science and Mathematics
			| Below are a select few courses that I believe have taught me alot!			
		ul
			li Ordinary Differential Equation (MATH 315) 
			li Discrete Structures 1 (MATH 240)
			li Algorithms and Data Structures (COMP 251)
			li Cities in the Modern World (GEOG 217)
			li Biophysics (PHYS 319)
			li Heat and Waves (PHYS 232)
			li Molecular Biology of the Gene (BIOL 300)
			li Honours Applied Linear Algebra (MATH 247)