extends ./layout.jade
block content
	h2 Links
	p 
		| On this page you will find a collection of links to my
		| various online portfolios and profiles.
	ul
		li 
			:markdown
				Code and Stuff: [Github](http://github.com/zafarali)
		li
			:markdown
				Microthoughts and shares: [Twitter](http://twitter.com/zafarali)
		li
			:markdown
				Professional Profile: [LinkedIn](http://ca.linkedin.com/in/zafaraliahmed)
		li
			:markdown
				Hackathon Projects: [Challenge Post](http://challengepost.com/zafarali)
		li
			:markdown
				Plot.ly Graphs: [Plot.ly](http://plot.ly/~iamzaf)
		li
			:markdown
				Photographs: [flickr](http://flickr.com/photos/zafarali)

