extends ./layout.jade
block content
	h2 Projects
	p 
		| This is a selected list of my neatest projects, plots and presentations (3xP?).
		| To see it all you can check out my
		a(href='http://github.com/zafarali') Github
		|  or my
		a(href='http://plot.ly/~iamzaf') Plot.ly
	#left
		h3 Plots and Analysis
		ul
			li
				a(href='https://plot.ly/~iamzaf/212/at-what-age-do-canadians-travel/') At What Age do Canadians Travel?
			li
				a(href='https://plot.ly/~iamzaf/266/weiner-process-vs-correlation-function/') Weiner Process and the Correlation Function
			li
				a(href='https://plot.ly/~iamzaf/135/comparison-of-moore-and-von-neumman-neighbourhood-strategies-in-simulation-of-ce/') Comparison of Von Neumann and Moore Neighbourhood Strategies in the execution of the Cellular Potts Model
			li
				a(href='https://plot.ly/~iamzaf/30/final-y-vs-final-x/') Scatter Plot of Final Positions of 600 Random Walkers
			li
				a(href='https://plot.ly/~iamzaf/29/y-steps-vs-x-steps/') Trajectories for 3 Random Walkers
	#center
		h3 Presentations
		ul
			li
				a(href='#') Modelling Metastasis using the Cellular Potts Modelling
			li
				a(href='#')	DNA Nanoconfinement (Ahmed Z. and Giambango M.)
	#right
		h3 Projects
		ul
			li 
				a(href='#') Modelling Metastasis using the Cellular Potts Modelling (Winter 2015)
			li
				a(href='https://github.com/zafarali/pebble-sleepyti.me') Sleepyti.me Pebble App (Winter 2015)
			li
				a(href='https://github.com/maxlever/sleepy-tessel') Sleepy Tessel (Fall 2014)
			li
				a(href='https://github.com/zafarali/learning-angular') Learning AngularJS (Summer 2014)
			li
				a(href='#') Spatial Analysis of Montreal (Winter 2014)
