/*
    Document   : style.css
    Created on : 2014-04-11 07:36 AM
    Author     : zafarali
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

* {
    padding:0;
    margin:0 1% 0 1%;
    font-family: 'Raleway', Helvetica, sans-serif;
    background-color: #fafafa;
    color:#333333;
}

body {
    padding-right:0;
    width:60%;
    margin:0 auto;
}

p {
    text-align: left;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 300;
}
.subtext {
    padding-top: 15px;
    font-size: 1.2em;
    text-align: left;
}
li {
    padding-top:3%;
    font-weight: 300;
}

a:hover{
    color:#49bbba;
}
li.head {
    list-style-type: none;
    display: inline-block;
    font-weight: 300;
}
li.head a, li.head a:visited {
    color:#6cbb27;
    text-decoration: none
}
li.head.name{
    width:inherit;
/*         -moz-transition:0.1s width ease-in-out;
     -webkit-transition: 0.1s width ease-in-out;
           -o-transition:0.1s width ease-in-out;
              transition:0.1s width ease-in-out;*/
}

#header {
    padding-bottom:4px;
    border-bottom-style: inset;
}
#main {
    margin-top:5px;
    margin-right:20px;
    margin-left:12px;
}

#main #left, #main #right, #main #center{
    display: inline-block;
    width:300px;
    float:top;
}
#hero {
    text-align: right;
    padding-top: 65px;
}
#hero h1 {
    width:100%;
    padding:2px;
    font-size:3em;
    font-weight: 400;
}
#hero h1 a, #hero h1 a:visited {
    padding: 1px;
    text-decoration: none;
    color:#c8c8c8;
-moz-transition:0.1s color ease-in-out;
     -webkit-transition: 0.1s color ease-in-out;
           -o-transition:0.1s color ease-in-out;
              transition:0.1s color ease-in-out;
}
#hero h1 a:hover {
    color:#6cbb27;
}

#hero div {
    vertical-align: middle;
    display:inline-block;
}
#hero #left{
    width:70%;
}
#hero #center{
    width:25%;
}
h2 {
    padding-top: 3%;
    font-size:1.75em;
}
h3 {
    padding-top:3%;
    font-size:1.5em;
}
li {}
#propic {
    border-radius: 50%;
    width:200px;
    filter:grayscale(1);
    -webkit-filter:grayscale(1);
    -moz-filter:grayscale(1);
    -o-filter:grayscale(1);
    -ms-filter:grayscale(1);
/*    -moz-transition:0.1s filter ease-in-out;
     -webkit-transition: 0.1s filter ease-in-out;
           -o-transition:0.1s filter ease-in-out;
              transition:0.1s filter ease-in-out;*/
}

/*#propic:hover{
    filter:grayscale(0);
    -webkit-filter:grayscale(0);
    -moz-filter:grayscale(0);
    -o-filter:grayscale(0);
    -ms-filter:grayscale(0);
    }*/