<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A collection of little projects and big experiences">
	<meta name="author" content="Zafarali Ahmed">


	<title>{{ site.title }}</title>

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/public/stylesheets/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


	<style>
		/* Page-specific overrides or minimal essentials */
		img {
			max-width: 100%;
			height: auto;
		}
	</style>
</head>