<section class="about-interactive">
  <h1 class="about-sentence">
    <span class="back-trigger" title="Go back">Hi, I'm Zafarali!</span><br />
    <span class="animating-intro-text">
      <!-- I'm a <button class="expand-trigger" data-target="research-engineer">Research Engineer</button>
      currently living in the <button class="expand-trigger" data-target="location">Bay Area</button>.
      When I'm not at my desk, you'll find me
      <button class="expand-trigger" data-target="cycling">cycling</button>,
      <button class="expand-trigger" data-target="improv">performing improv</button>, or
      <button class="expand-trigger" data-target="cooking">cooking</button> up something new. -->
      <button class="expand-trigger" data-target="research-engineer">Research Engineer</button> currently
      <button class="expand-trigger" data-target="cycling">cycling</button>,
      <button class="expand-trigger" data-target="crafting">crafting</button>,
      <button class="expand-trigger" data-target="researching">researching</button> and
      <button class="expand-trigger" data-target="building">building</button> in the
      SF <button class="expand-trigger" data-target="location">Bay Area</button>.
    </span>
  </h1>

  <div class="expansion-container">
    <div id="research-engineer" class="expansion-content">
      <div class="expansion-inner">
        <p>I am currently a Staff Research Engineer at <a href="http://www.deepmind.com">Google DeepMind</a> focused on
          Reinforcement Learning Infrastructure for <a href="https://deepmind.google/models/gemini/">Gemini</a>. I
          graduated with an MSc from McGill University where I worked at both the <a
            href="http://rl.cs.mcgill.ca/">Reasoning and Learning Lab</a> and at <a
            href="https://mila.quebec/">Mila</a>.</p>
      </div>
    </div>
    <div id="location" class="expansion-content">
      <div class="expansion-inner">
        <p>I am <a href="https://www.google.ca/maps/place/Sri+Lanka">Sri Lankan</a>. I lived in <a
            href="https://www.google.ca/maps/place/Montreal,+QC/">Montr&eacute;al</a> for 10 years before moving to the
          Bay Area a few years ago.
        </p>
      </div>
    </div>
    <div id="cycling" class="expansion-content">
      <div class="expansion-inner">
        <p>I consider cycling to be the ulimtate form of mobility in a city and advocate for better and safer routes for
          cyclists and pedestrians.
          Find me zipping around on my Brompton folding bicycle looking for ways to live car-free in the Bay!
          Read about my journey on my blog, <a href="https://baybybrompton.substack.com/">Bay by Brompton</a>.
        </p>
      </div>
    </div>
    <div id="crafting" class="expansion-content">
      <div class="expansion-inner">
        <p>I love crafting narratives with different media to share my experiences.
          I performing improv whenever I can, a great way to stay present, practice active listening, and
          embrace the unexpected. I write a <a href="https://baybybrompton.substack.com/">blog</a> and graphic short
          stories as a way to share my point of view.</p>
      </div>
    </div>
    <div id="researching" class="expansion-content">
      <div class="expansion-inner">
        <p>I have a long history of researching a diverse range of topics, from <a
            href="https://academic.oup.com/mbe/article/35/9/2135/5036107?guestAccessKey=">computational oncology</a> to
          <a href="https://arxiv.org/abs/2103.03798">automated theorem proving</a>. Most of my public research focused
          on Reinforcement Learning, topics like
          <a href="https://proceedings.mlr.press/v97/ahmed19a.html">policy gradient methods</a>
          and <a href="https://proceedings.mlr.press/v119/khetarpal20a.html">affordances</a>, and has been
          published at major machine learning conferences. Read about my published works on <a
            href="https://scholar.google.com/citations?user=KZHIDrIAAAAJ&hl=en">Google Scholar</a>.
        </p>
      </div>
    </div>
    <div id="building" class="expansion-content">
      <div class="expansion-inner">
        <p>I am genuinely curious and always building new things both internally and externally. I hold a <a
            href="https://patents.google.com/patent/US20240265264A1/en">patent</a> for hierarchical agentic methods for
          interacting with mobile devices
          and am currently exploring new ways of interacting with intelligent language models that go beyond chat boxes.
        </p>
      </div>
    </div>
  </div>
</section>

<script src="/public/scripts/about.js"></script>