<section class="about-interactive">
  <h1 class="about-sentence">
    <span class="back-trigger" title="Go back">Hi, I'm Zafarali!</span><br/>
    <span class="animating-intro-text">
      I'm a <button class="expand-trigger" data-target="research-engineer">Research Engineer</button>
      currently living in the <button class="expand-trigger" data-target="location">Bay Area</button>.
      When I'm not at my desk, you'll find me
      <button class="expand-trigger" data-target="cycling">cycling</button>,
      <button class="expand-trigger" data-target="improv">performing improv</button>, or
      <button class="expand-trigger" data-target="cooking">cooking</button> up something new.
    </span>
  </h1>

  <div class="expansion-container">
    <div id="research-engineer" class="expansion-content">
      <div class="expansion-inner">
        <p>I am currently a Staff Research Engineer at <a href="http://www.deepmind.com">Google DeepMind</a>. I
          graduated with an MSc from McGill University where I worked at both the <a
            href="http://rl.cs.mcgill.ca/">Reasoning and Learning Lab</a> and at <a
            href="https://mila.quebec/">Mila</a>.</p>
      </div>
    </div>
    <div id="location" class="expansion-content">
      <div class="expansion-inner">
        <p>I am <a href="https://www.google.ca/maps/place/Sri+Lanka">Sri Lankan</a>. I lived in <a
            href="https://www.google.ca/maps/place/Montreal,+QC/">Montr&eacute;al</a> for 10 years before moving to the
          <a href="https://maps.app.goo.gl/nXUW5ipsvLH41of6A">Bay Area</a> a few years ago.</p>
      </div>
    </div>
    <div id="cycling" class="expansion-content">
      <div class="expansion-inner">
        <p>You can find me cycling and zipping around San Francisco on my Brompton folding bicycle or <a
            href="https://writing.zafarali.me/baybybrompton">waiting for the Caltrain writing my blog</a>. Folding bikes
          are the ultimate urban multi-modal tool!</p>
      </div>
    </div>
    <div id="improv" class="expansion-content">
      <div class="expansion-inner">
        <p>I am performing improv whenever I can. It's a great way to stay present, practice active listening, and
          embrace the unexpected. Plus, it's just a lot of fun!</p>
      </div>
    </div>
    <div id="cooking" class="expansion-content">
      <div class="expansion-inner">
        <p>I enjoy cooking as a creative outlet. From perfecting a curry to experimenting with sourdough, I love the
          process of making things from scratch and sharing them with friends.</p>
      </div>
    </div>
  </div>
</section>

<script src="/public/scripts/about.js"></script>